@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #3a3a3a;
}
.container {
  max-width: 992px;
  margin: 0 auto;
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.nav-logo a {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none !important;
  color: #3a3a3a;
}
.nav-item a {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none !important;
  color: #3a3a3a;
  margin-right: 35px;
  transition: all 0.3s ease;
}
.nav-item a:hover {
  color: #e02c6d;
}
.log-in {
  font-size: 16px;
  font-weight: 700;
  margin-right: 35px;
  transition: all 0.3s ease;
}
.sign-up {
  font-size: 16px;
  font-weight: 700;
  transition: all 0.3s ease;
}
.log-in:hover,
.sign-up:hover {
  color: #e02c6d;
  cursor: pointer;
}
.header-wrapper {
  display: flex;
  align-items: center;
  gap: 90px;
}
.header-info {
  width: 50%;
}
.header-info h1 {
  font-size: 55px;
  color: #3a3a3a;
  margin-bottom: 0;
}
.header-info p {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 30px;
}
.header-img {
  width: 50%;
}
.header-img img {
  width: 100%;
}
.btn {
  background-color: #e02c6d;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 50px;
  font-size: 20px;
  border: 1px solid #e02c6d;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: transparent;
  border: 1px solid #e02c6d;
  color: #e02c6d;
}
.company {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
.company-wrapper {
  margin: 50px 0;
}
.company-wrapper hr {
  border: 1px solid lightgray;
}
.section-heading {
  text-align: center;
  font-size: 28px;
  color: #3a3a3a;
}
.collection-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.collection {
  /* width: 300px; */
  box-shadow: 1px 1px 30px gray;
  padding: 30px;
  border-radius: 10px;
}
.collection-img img {
  width: 100%;
}
.collection-info h2 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 10px;
}
.collection-info h4 {
  font-size: 24px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}
.collection-info p {
  margin-top: 0;
  margin-bottom: 0;
  color: #787885;
}
.fa-star {
  color: orange;
}
.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}
.section-Heading {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 50px;
}
.see-more {
  text-align: right;
  color: #e02c6d;
  padding: 10px 0;
}
.see-more:hover {
  cursor: pointer;
}
.feature-wrapper {
  display: flex;
  align-items: center;
}
.feature-img {
  width: 50%;
}
.feature-info {
  width: 50%;
}
.feature-info h1 {
  font-size: 38px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}
.feature-info p {
  font-size: 16px;
  color: #3a3a3a;
  line-height: 28px;
}
.feature {
  margin: 50px 0;
}
footer {
  background-color: #000;
  padding: 50px 0;
  margin-top: 100px;
}
.footer-info {
  text-align: center;
}
.footer-info h1 {
  font-size: 24px;
  color: white;
  margin: 10px;
}
.footer-info h5 {
  font-size: 14px;
  color: white;
  margin: 10px;
}
.footer-info p {
  font-size: 14px;
  color: white;
  margin: 10px;
}
.social-icon {
  color: #e02c6d;
  font-size: 20px;
  margin-right: 10px;
  transition: all 0.3s ease;
}
.social-icon:hover {
  color: white;
  cursor: pointer;
}
.social-icon:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .nav-logo a {
    padding-left: 30px;
  }
  .nav-item {
    display: none;
  }
  .header-wrapper {
    flex-direction: column-reverse;
  }
  .header-img img {
    margin-top: 50px;
  }
  .header-info {
    width: 100%;
    text-align: center;
  }
  .header-info h1 {
    font-size: 40px;
    margin-top: 0;
  }
  .company {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
  }
  .collection-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .feature-wrapper {
    flex-direction: column;
  }
  .feature-img {
    width: 100%;
  }
  .feature-img img {
    width: 100%;
  }
  .feature-info {
    width: 100%;
  }

  .footer {
    width: 100%;
  }
}
